/*reset*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }
  *::selection {
    background-color: black;
    color: #9e57ce; }

/*body y nav generales del sitio*/
body {
  background-color: rgba(234, 216, 251, 0.868);
  font-family: "PT Serif", serif; }
  body header nav div #brand {
    font-family: "Ms Madi", cursive;
    font-weight: bolder;
    font-size: larger;
    color: white; }
    body header nav div #brand:hover {
      color: rgba(255, 255, 255, 0.711); }
  body header nav div div ul li .nav-link {
    color: white; }
    body header nav div div ul li .nav-link:hover {
      color: white;
      background-color: #af71d8ed;
      border-radius: 15px; }
  body header nav div div ul li .activ {
    font-weight: bolder;
    font-size: large;
    color: white;
    border-bottom: solid #af71d8ed; }
  body footer {
    color: white;
    background-color: #9e57ce;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-weight: 500;
    font-size: smaller;
    line-height: 1.3;
    padding: 5px; }
    body footer .bold {
      font-weight: bold; }
    body footer .bi-instagram, body footer .bi-facebook, body footer .bi-tiktok {
      color: white; }
      body footer .bi-instagram:hover, body footer .bi-facebook:hover, body footer .bi-tiktok:hover {
        color: rgba(255, 255, 255, 0.415); }
    body footer .bi-c-circle {
      color: white;
      font-size: medium; }

/*botones del sitio*/
.btn-primary, #boton {
  background-color: #9e57ce;
  transition: all 0.2s ease-in-out;
  border-style: none; }
  .btn-primary:hover, #boton:hover {
    background-color: rgba(234, 216, 251, 0.868);
    color: #9e57ce;
    transform: scale(1.05);
    border: 2px solid #9e57ce; }

#boton {
  color: white; }
  #boton:hover {
    background-color: rgba(234, 216, 251, 0.868);
    color: #9e57ce;
    transform: scale(1.05);
    border: 2px solid; }

/*breadcrumb del sitio*/
.breadcrumb-link {
  text-decoration: none;
  color: #9e57ce;
  font-weight: bold; }
  .breadcrumb-link:hover {
    color: #b333e9; }

/*estilo index*/
.bg-blue {
  background-color: #9e57ce; }

body div .imagen-intro {
  background-image: url(../images/ankorwat.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Ms Madi", cursive;
  height: 85vh; }

body div #wws {
  color: white;
  font-weight: bolder; }

body main div h5, body main div p {
  color: #9e57ce; }
  body main div h5::first-letter, body main div p::first-letter {
    font-weight: bolder;
    font-size: larger; }

body .section-carousel, body .galeria-explore {
  background-color: black;
  color: white; }

/*animaciones de cada pagina*/
.bienvenida {
  animation-name: bienvenida;
  animation-iteration-count: initial;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

@keyframes bienvenida {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*estilo para about us*/
.imagen-about {
  background-image: url(../images/aboutus-camb.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 60vh;
  background-position: 40% 57%; }
  .imagen-about .titulo-about {
    color: black;
    background-color: rgba(255, 255, 255, 0.559);
    border-radius: 40px;
    padding: 10px; }

.hey, body div #wws {
  background-image: linear-gradient(to right, #f71313 0%, #ffc816 18%, #fff213 38%, #b7ff1a 57%, #12c4f5 79%, #cf28ff 100%);
  padding: 5px;
  border-radius: 40px; }

.seccion-adivina {
  background-color: black;
  color: white; }

.cardo {
  position: relative;
  width: 40vh;
  height: 45vh;
  margin: 20px; }
  .cardo:hover .front {
    transform: perspective(600px) rotateY(180deg); }
  .cardo:hover .back {
    transform: perspective(600px) rotateY(360deg); }
  .cardo .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s; }
  .cardo .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black; }
    .cardo .front .card-img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .cardo .back {
    transform: perspective(600px) rotateY(180deg);
    background-color: #9e57ce;
    padding: 15px;
    color: white;
    box-shadow: 0 5px 10px black; }
    .cardo .back h4 {
      font-size: 30px;
      margin-top: 20px;
      letter-spacing: 2px; }
    .cardo .back p {
      letter-spacing: 1px; }

/*travel destinations*/
#galeria {
  background-color: #c758d1;
  height: 85px;
  color: white; }

.card {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease; }
  .card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-1%); }

#quote {
  background-color: rgba(171, 171, 233, 0.693); }

/*our country*/
#arg {
  background-color: #b333e9;
  height: 60px;
  color: white; }

.bsas, .campanopolis {
  background-color: #db93f6; }

.galeria-campano {
  background-color: black;
  color: white; }

/*media querie version tablet*/
@media only screen and (max-width: 1200px) {
  #about {
    font-size: larger;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-wrap: nowrap; }
  .img-thai {
    height: 70vh; } }

/*media querie version celular*/
@media only screen and (max-width: 500px) {
  .carousel-item {
    height: max-content; }
  .images {
    height: 70%;
    width: 80%;
    margin-bottom: 5px; }
  .iframe {
    width: fit-content; }
  .imagen-about {
    background-position: center; }
  .img-thai {
    height: 70vh; } }
