/*Animaciones de cada Página*/
.bienvenida {
    animation-name: bienvenida;
    animation-iteration-count:initial;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

@keyframes bienvenida {
    0%{
    opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
}

