/*estilo para about us*/
.imagen-about{
    background-image: url(../images/aboutus-camb.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 60vh;
    background-position: 40% 57%;

    .titulo-about{
        color: map-get($colores , "negro" );
        background-color: rgba(255, 255, 255, 0.559);
        border-radius: 40px;
        padding: 10px;
    }
}

.hey {
    background-image: linear-gradient(to right,rgba(247,19,19,1) 0%, rgba(255,200,22,1) 18%, rgba(255,242,19,1) 38%, rgba(183,255,26,1) 57%, rgba(18,196,245,1) 79%, rgba(207,40,255,1) 100%);
    padding: $pad/2;
    border-radius: ($pad)*4;
}

.seccion-adivina{
    background-color: map-get($colores , "negro" );
    color: map-get($colores , "blanco" );
}

.cardo{
    position: relative;
    width: 40vh;
    height: 45vh;
    margin: 20px;
    &:hover .front{
        transform: perspective(600px) rotateY(180deg);
    }
    &:hover .back{
        transform: perspective(600px) rotateY(360deg);
    }
    .face{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: .5s;
    }
    .front{
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px black;
        .card-img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .back{
        transform: perspective(600px) rotateY(180deg);
        background-color: $color-principal;
        padding: 15px;
        color: map-get($colores , "blanco" );
        box-shadow: 0 5px 10px black;
        h4{
            font-size: 30px;
            margin-top: 20px;
            letter-spacing: 2px;
        }
        p{
            letter-spacing: 1px;
        }
    }
}

