/*Estilo para Our Country*/
#arg{
    background-color: map-get($colores , "arg" );
    height:$pad*6;
    color: map-get($colores , "blanco" );
}

.bsas, .campanopolis{
    background-color: map-get($colores , "bsas" );
}


.galeria-campano{
    background-color: map-get($colores , "negro" );
    color: map-get($colores , "blanco" );
}

.iframe{
    width: 40%;
}