/*body y nav generales del sitio*/ 
body{
    background-color: $color-secundario;
    font-family: $font-body;
    header{
        nav{
            div{
                #brand {
                    font-family: $font-brand;
                    font-weight: bolder;
                    font-size: larger;
                    color: map-get($colores , "blanco" );
                    
                    &:hover {
                    color: map-get($colores , "brandhover" );
                    }
                }
                div{
                    ul{
                        li{
                            .nav-link{
                                color: map-get($colores , "blanco" );
                        
                                &:hover{
                                    color:map-get($colores , "blanco" );
                                    background-color: map-get($colores , "navhover" );
                                }
                            }
                            .activ{
                                font-weight: bolder;
                                font-size: large;
                                color: map-get($colores, "blanco");
                                border-bottom: solid map-get($colores, "navhover");
                            }
                        }
                    }
                }
            }
        }
    }
    
    footer {
        color: map-get($colores , "blanco" );
        background-color: $color-principal;
        text-align: center;
        font-family:$font-footer;
        font-weight: 500;
        font-size: smaller;
        line-height: 1.3;
        padding: $pad/2;

        .bold{
            font-weight: bold;
        }
    
        .bi-instagram {
            color: map-get($colores , "blanco" );
    
            &:hover{
                color:  map-get($colores , "rrsshover" );
            }
        }
    
        .bi-facebook, .bi-tiktok {
            @extend .bi-instagram;
        }

        .bi-c-circle {
            color: map-get($colores , "blanco" );
            font-size: medium;
            
        }
    }
}



/*botones del sitio*/
.btn-primary {
    background-color:$color-principal; 
    transition: all 0.2s ease-in-out;
    border-style: none;

    &:hover{
        background-color: $color-secundario;
        color: $color-principal;
        transform: scale(1.05);
        border: 2px solid $color-principal;
    }
}

#boton {
    @extend .btn-primary;
    color: map-get($colores , "blanco" );

    &:hover{
        background-color: $color-secundario;
        color: $color-principal;
        transform: scale(1.05);
        border: 2px solid;
    }
}


/*breadcrumb del sitio*/
.breadcrumb-link{
    text-decoration: none;
    color: $color-principal;
    font-weight: bold;
    &:hover{
        color: map-get($colores , "arg" );
    }
}

