

@mixin flex ($direction, $justify, $align, $ali){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    align-content: $ali;
}

/*media querie version tablet*/
@media only screen and (max-width:1200px){
    #about{
        font-size: larger;
        display: flex;
        @include flex(column, center, center, center);
        text-align: center;
        flex-wrap: nowrap;
    }
    .img-thai{
        height: 70vh;
    }
}


/*media querie version celular*/ 
@media only screen and (max-width:500px){
 
    .carousel-item {
        height:max-content;
    }

    .images{
        height: 70%;
        width: 80%;
        margin-bottom: $pad/2;
    }

    .iframe {
        width: fit-content;
    }


    .imagen-about{
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 60vh;
        background-position: center;
    }

    .img-thai{
        height: 70vh;
    }

}