

@mixin flex ($direction, $justify, $align, $ali){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    align-content: $ali;
}

/*Media Querie Versión Tablet*/
@media only screen and (max-width:1200px){
    #about{
        font-size: larger;
        display: flex;
        @include flex(column, center, center, center);
        text-align: center;
        flex-wrap: nowrap;
    }
    .img-thai{
        height: 70vh;
    }

    .iframe {
        width: 60%;
    }

    .cardo{
        .back{
            p{
                font-size: 10px;
            }
        }
    }

}


/*Media Querie Versión Celular*/ 
@media only screen and (max-width:500px){
 
    .carousel-item {
        height:max-content;
    }

    .images{
        height: 70%;
        width: 80%;
        margin-bottom: $pad/2;
    }

    .iframe {
        width: 80%;
    }

    .imagen-about{
        background-position: center;
    }

    .img-thai{
        height: 70vh;
    }

    .cardo{
        .back{
            p{
                font-size: 10px;
            }
        }
    }

}