$color-principal: #9e57ce;
$color-secundario:rgba(234, 216, 251, 0.868);
$colores: (
    "negro": black,
    "blanco": white,
    "arg":#b333e9,
    "bsas":#db93f6,
    "brandhover":rgba(255, 255, 255, 0.711),
    "navhover":#af71d8ed,
    "rrsshover":rgba(255, 255, 255, 0.415),
);
$font-footer: 'Courier New', Courier, monospace;
$font-brand: 'Ms Madi', cursive;
$font-body: 'PT Serif', serif;
$pad:10px;