$color-principal: #9e57ce;
$color-secundario:rgba(234, 216, 251, 0.868);
$colores: (
    "negro": black,
    "blanco": white,
    "arg":rgb(72, 159, 229),
    "bsas":rgb(156, 189, 255),
    "camp":rgb(208, 223, 249),
    "brandhover":rgba(255, 255, 255, 0.711),
    "navhover":#af71d8ed,
    "rrsshover":rgba(255, 255, 255, 0.415),
);
$font-footer: 'Courier New', Courier, monospace;
$pad:10px;